<% if comment.body? %>
  <p>User_id: <%= comment.user_id %></p>
  <p>Body: <%= comment.body %></p>

<%end %>


<!--<time><%#= comment.created_at.to_date.strftime('%d %B, %Y') %></time>-->
<% if user_signed_in? %>
  <small><%= link_to 'удалить', [comment.post, comment], method: :delete, data: {confirm: 'Вы уверенны?'} if comment.persisted? %></small>
<% end %>
<hr>