.pb-cmnt-container {
  font-family: Lato;
  margin-top: 5em;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

.section_comment{
  overflow: auto;
  height: 500px;
}

.section_body{
  border: 1px solid lightskyblue;
  border-radius: 5px;
}
