h1{
  border: 1px solid darkred;
  text-align: center;
}
//----переделать по человечесикй
.field_with_errors label {
  color: #B00100;
}

.field_with_errors input {
  border: 1px solid #B00100;
}

 .field_with_errors textarea {
   border: 1px solid #B00100;
 }
 //------------------------------------

.img_show{
  display: block;
  margin-bottom: 2em;
}

.thumb{
  float: left;
  margin-right: 1em;
}