h1{
  border: 1px solid darkred;
  text-align: center;
}
//----переделать по человечесикй
.field_with_errors label {
  color: #B00100;
}

.field_with_errors input {
  border: 1px solid #B00100;
}

 .field_with_errors textarea {
   border: 1px solid #B00100;
 }
 //------------------------------------

.img_show{
  display: block;
  margin-bottom: 2em;
  width: 400px;
  height: 400px;
}

.thumb{
  float: left;
  margin-right: 1em;
  //width: 200px;
  //height: 200px;
}

//для trix
.editor{
  min-height: 300px;
}

//.pagination a{
//  padding: 5px;
//  display: inline;
//}
//
//.previous_page{
//  color: #B00100;
//  padding: 5px;
//}
//
//.next_page{
//  color: #B00100;
//  padding: 5px;
//}